:root {
    --vp-c-green: #1ad4e9;
    --vp-c-green-light: #1ad4e9;
    --vp-c-green-lighter: #1ad4e9;
    --vp-c-green-dark: #1ad4e9;
    --vp-c-green-darker: #1ad4e9;
    --vp-c-green-dimm-1: rgb(26, 212, 233);
    --vp-c-green-dimm-2: rgb(26, 212, 233);
}

::-webkit-scrollbar {
  /* Chrome Safari */
  display: none;
}


.vp-doc div[class*='language-'] {
    border-radius: 2px;
}

.block-embed .block-embed-service-youtube[iframe]{
    width: 688px;
    height: 387px;
}


.VPSidebar[data-v-f332cb62] {
    overflow-y: hidden;
}

.google-adsense {
    margin-top: 40px;
    margin-bottom: -24px;
}

.VPDocAsideCarbonAds {
    display: none;
}

img.VPImage.logo {
    width: 24px;
    height: 24px;
}
