
.vp-doc div[class*='language-'] {
    border-radius: 2px;
}

.block-embed .block-embed-service-youtube[iframe]{
    width: 688px;
    height: 387px;
}


.VPSidebar[data-v-f332cb62] {
    overflow-y: hidden;
}

.google-adsense {
    margin-top: 40px;
    margin-bottom: -24px;
}

.VPDocAsideCarbonAds {
    display: none;
}
